In [4]:
import sys
print(sys.version)

3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)]

# Integers and Floats

In [10]:
x = 5
y = 2.5

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [24]:

# int, int operations
z = x + x
print(z, type(z))

z = x - x
print(z, type(z))

z = x * x
print(z, type(z))

z = x ** x
print(z, type(z))
print("---------------------------------")

# int, int operations
z = x + y
print(z, type(z))

z = x - y
print(z, type(z))

z = x * y
print(z, type(z))

z = x ** y
print(z, type(z))

z = y ** z
print(z, type(z))

z = x /x
print(z, type(z))

z = y / z
print(z, type(z))

10 <class 'int'>
0 <class 'int'>
25 <class 'int'>
3125 <class 'int'>
---------------------------------
7.5 <class 'float'>
2.5 <class 'float'>
12.5 <class 'float'>
55.90169943749474 <class 'float'>
1.760040895257892e+22 <class 'float'>
1.0 <class 'float'>
2.5 <class 'float'>

In [25]:
a=12.6
print(int(a),type(a))
print(round(a),type(a))

12 <class 'float'>
13 <class 'float'>

In [26]:
b= 12
print(float(b),type(b))

12.0 <class 'int'>

# Strings

In [45]:
a = "Hello"
print(a, type(a))

Hello <class 'str'>

In [46]:
b= "everyone"
print(b, type(b))
c= a+b
print(c, type(c))
a= a +" "+ b
print(a, type(a))

everyone <class 'str'>
Helloeveryone <class 'str'>
Hello everyone <class 'str'>

In [53]:
a = "Hello Everyone"
print("First character of String is:", a[0])
print("Last character of String is: ", a[-1])
print("String length is: ", len(a))

First character of String is: H
Last character of String is:  e
String length is:  14

In [54]:
print("Slicing characters:", a[6:])

Slicing characters: Everyone

In [56]:
print(a.upper()) 
print(a.lower())

HELLO EVERYONE
hello everyone

In [57]:
print(a.replace("H", "J"))

Jello Everyone

In [59]:
print(a.split(" "))

['Hello', 'Everyone']

# If-Else statements

In [62]:
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are a kid.")

You are an adult.

In [63]:
# else if-else
score = 85
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
else:
    grade = 'C'
print(f"Your grade is {grade}")

Your grade is B

In [65]:
# Nested If-Else 
age = 20
is_student = True

if age >= 18:
    if is_student:
        print("You are an adult and a student.")
    else:
        print("You are an adult but not a student.")
else:
    if is_student:
        print("You are a kid and a student.")
    else:
        print("You are a kid and not a student.")

You are an adult and a student.

# Loops

If statements

In [66]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    print(f"I like {fruit}")

I like apple
I like banana
I like cherry
I like date

In [68]:
# For loop with range()
for i in range(5):  
    print(i)

0
1
2
3
4

In [71]:
# Using enumerate to get both index and value
fruits = ["apple", "banana", "cherry", "date"]

for index, fruit in enumerate(fruits):
    print(f"Fruit {index}: {fruit}")

Fruit 0: apple
Fruit 1: banana
Fruit 2: cherry
Fruit 3: date

In [73]:
# Nested for loop to print multiplication table
for i in range(1, 6):  
    for j in range(1, 6):  
        print(i * j, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [78]:
# Continue
for i in range(10):
    if i % 2 == 0:
        continue  # Skip even numbers
    print(f"Odd number: {i}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

While loop

In [77]:
# Using break 
count = 0
while True:
    print(f"Count is {count}")
    count += 1
    if count == 5:
        break #"Breaking the loop at count 5

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4

# List

In [103]:

fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0])
print(fruits[-1])  
print(len(fruits))
print(type(fruits))

apple
date
4
<class 'list'>

In [104]:
# Slicing a list
print(f"First 2: {fruits[:2]}")
print(f"Last 2: {fruits[-2:]}")

First 2: ['apple', 'banana']
Last 2: ['cherry', 'date']

In [105]:
fruits[0] = "mango"
# Adding an element to the end
fruits.append("apple")
print(fruits)

['mango', 'banana', 'cherry', 'date', 'apple']

In [106]:
# Inserting 
fruits.insert(1, "blueberry")  # Insert at index 1
print(fruits)

['mango', 'blueberry', 'banana', 'cherry', 'date', 'apple']

In [107]:
# Removing an element by value
fruits.remove("banana")
print(fruits)

['mango', 'blueberry', 'cherry', 'date', 'apple']

In [108]:
# Removing an element by index
popped_fruit = fruits.pop(2) 
print(popped_fruit)
print(fruits)

cherry
['mango', 'blueberry', 'date', 'apple']

In [109]:
# Concatenating two lists
vegetables = ["carrot", "potato"]
food = fruits + vegetables
print(food)

['mango', 'blueberry', 'date', 'apple', 'carrot', 'potato']

In [112]:
#Sort the list alphabetically
fruits.sort()
print(fruits)
fruits.sort(reverse = True)
print(fruits)

['apple', 'blueberry', 'date', 'mango']
['mango', 'date', 'blueberry', 'apple']

# Sets

In [125]:
fruits = {"apple", "banana", "cherry", "apple"}

print(fruits)
print(len(fruits))
print(type(fruits))

{'banana', 'apple', 'cherry'}
3
<class 'set'>

In [126]:
# You cannot access items in a set by referring to an index or a key.
for x in fruits:
  print(x)
print("banana" in fruits)

banana
apple
cherry
True

In [127]:
fruits.add("orange")

print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

In [128]:
vegetables = {"carrot", "potato"}
fruits.update(vegetables)
print(fruits)
fruits.remove("carrot")
print(fruits)

{'banana', 'potato', 'cherry', 'carrot', 'apple', 'orange'}
{'banana', 'potato', 'cherry', 'apple', 'orange'}

In [129]:
x = fruits.pop()
print(x)
print(fruits)

banana
{'potato', 'cherry', 'apple', 'orange'}

In [132]:
# Join multiple sets with the union() method
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'Elena', 'cherry', 'a', 'bananas', 'c', 'apple', 'John'}

# Tuples

In [141]:
fruits = ("apple", "banana", "cherry", "apple", "cherry")
print(fruits)
print(len(fruits))
print(fruits[1])
print(fruits[-1])
print(fruits[1:3])

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
banana
cherry
('banana', 'cherry')

In [142]:
fruit = ("apple",)
print(type(fruit))

#NOT a tuple
fruit = ("apple")
print(type(fruit))

<class 'tuple'>
<class 'str'>

In [143]:

y = list(fruits)
y.append("mango")
fruits = tuple(y)
print(fruits)

('apple', 'banana', 'cherry', 'apple', 'cherry', 'mango')

In [144]:
fruits = ("apple", "banana", "cherry")
y = ("orange",)
fruits += y

print(fruits)

('apple', 'banana', 'cherry', 'orange')

In [146]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple
fruits = ("apple", "banana", "cherry")
y = list(fruits)
y.remove("apple")
fruits = tuple(y)
print(fruits)

('banana', 'cherry')

In [147]:
# Join two tuples:
a = ("a", "b" , "c")
b = (1, 2, 3)

c = a + b
print(c)

('a', 'b', 'c', 1, 2, 3)

# Functions

In [151]:

def person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")


person("Menna", 23, "Cairo")

Menna is 23 years old and lives in Cairo.

In [152]:
# A function with default parameters
def person(name, age=30, city="Unknown"):
    print(f"{name} is {age} years old and lives in {city}.")

# Call the function without passing all arguments
person("Menna")  # age and city take default values

Menna is 30 years old and lives in Unknown.

In [154]:
# A function that returns multiple values
def get_user_info():
    name = "Menna"
    age = 23
    city = "Cairo"
    return name, age, city


name, age, city = get_user_info()
print(f"Name: {name}, Age: {age}, City: {city}")

Name: Menna, Age: 23, City: Cairo

In [153]:
# A function that takes a variable number of arguments (*args)
def add_all_numbers(*numbers):
    return sum(numbers)

print(add_all_numbers(1, 2, 3)) 
print(add_all_numbers(10, 20, 30, 40))

6
100