In [21]:
import dask.dataframe as dd

In [61]:
df = dd.read_csv("college_admissions.csv")
df

Dask DataFrame Structure:
              super_opeid    name par_income_bin par_income_lab   attend stderr_attend attend_level attend_sat stderr_attend_sat attend_level_sat rel_apply stderr_rel_apply rel_attend stderr_rel_attend rel_att_cond_app rel_apply_sat stderr_rel_apply_sat rel_attend_sat stderr_rel_attend_sat rel_att_cond_app_sat attend_instate stderr_attend_instate attend_level_instate attend_instate_sat stderr_attend_instate_sat attend_level_instate_sat attend_oostate stderr_attend_oostate attend_level_oostate attend_oostate_sat stderr_attend_oostate_sat attend_level_oostate_sat rel_apply_instate stderr_rel_apply_instate rel_attend_instate stderr_rel_attend_instate rel_att_cond_app_instate rel_apply_oostate stderr_rel_apply_oostate rel_attend_oostate stderr_rel_attend_oostate rel_att_cond_app_oostate rel_apply_instate_sat stderr_rel_apply_instate_sat rel_attend_instate_sat stderr_rel_attend_instate_sat rel_att_cond_app_instate_sat rel_apply_oostate_sat stderr_rel_apply_oostate_sat rel_attend_oostate_sat stderr_rel_attend_oostate_sat rel_att_cond_app_oostate_sat attend_unwgt stderr_attend_unwgt attend_unwgt_level attend_unwgt_instate stderr_attend_unwgt_instate attend_unwgt_oostate stderr_attend_unwgt_oostate attend_unwgt_level_instate attend_unwgt_level_oostate rel_attend_unwgt rel_apply_unwgt stderr_rel_attend_unwgt stderr_rel_apply_unwgt rel_att_cond_app_unwgt rel_attend_unwgt_instate rel_attend_unwgt_oostate stderr_rel_attend_unwgt_instate stderr_rel_attend_unwgt_oostate rel_apply_unwgt_instate rel_apply_unwgt_oostate stderr_rel_apply_unwgt_instate stderr_rel_apply_unwgt_oostate rel_att_cond_app_unwgt_instate rel_att_cond_app_unwgt_oostate public flagship    tier test_band_tier
npartitions=1
                    int64  object        float64         object  float64       float64      float64    float64           float64          float64   float64          float64    float64           float64          float64       float64              float64        float64               float64              float64        float64               float64              float64            float64                   float64                  float64        float64               float64              float64            float64                   float64                  float64           float64                  float64            float64                   float64                  float64           float64                  float64            float64                   float64                  float64               float64                      float64                float64                       float64                      float64               float64                      float64                float64                       float64                      float64      float64             float64            float64              float64                     float64              float64                     float64                    float64                    float64          float64         float64                 float64                float64                float64                  float64                  float64                         float64                         float64                 float64                 float64                        float64                        float64                        float64                        float64   bool     bool  object         object
                      ...     ...            ...            ...      ...           ...          ...        ...               ...              ...       ...              ...        ...               ...              ...           ...                  ...            ...                   ...                  ...            ...                   ...                  ...                ...                       ...                      ...            ...                   ...                  ...                ...                       ...                      ...               ...                      ...                ...                       ...                      ...               ...                      ...                ...                       ...                      ...                   ...                          ...                    ...                           ...                          ...                   ...                          ...                    ...                           ...                          ...          ...                 ...                ...                  ...                         ...                  ...                         ...                        ...                        ...              ...             ...                     ...                    ...                    ...                      ...                      ...                             ...                             ...                     ...                     ...                            ...                            ...                            ...                            ...    ...      ...     ...            ...
Dask Name: read-csv, 1 graph layer

In [59]:
import pandas as pd
import time

In [58]:
df.head()

,super_opeid,name,par_income_bin,par_income_lab,attend,stderr_attend,attend_level,attend_sat,stderr_attend_sat,attend_level_sat,...,rel_apply_unwgt_instate,rel_apply_unwgt_oostate,stderr_rel_apply_unwgt_instate,stderr_rel_apply_unwgt_oostate,rel_att_cond_app_unwgt_instate,rel_att_cond_app_unwgt_oostate,public,flagship,tier,test_band_tier
0,1434,American University,10.0,0-20,0.001122,0.000120,0.001609,0.001361,0.000236,0.001537,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,Highly selective private,Other Top 100 Private
1,1434,American University,30.0,20-40,0.001005,0.000094,0.001609,0.002062,0.000167,0.001537,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,Highly selective private,Other Top 100 Private
2,1434,American University,50.0,40-60,0.001408,0.000082,0.001609,0.001430,0.000150,0.001537,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,Highly selective private,Other Top 100 Private
3,1434,American University,65.0,60-70,0.001488,0.000092,0.001609,0.001405,0.000165,0.001537,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,Highly selective private,Other Top 100 Private
4,1434,American University,75.0,70-80,0.001501,0.000077,0.001609,0.001259,0.000131,0.001537,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,Highly selective private,Other Top 100 Private

In [63]:
file_path = "college_admissions.csv"
df_dask = dd.read_csv(file_path)
df_pandas = pd.read_csv(file_path)

# Grouping Pandas
start_time = time.time()
grouped_pandas = df_pandas.groupby('tier')['attend'].mean()
print("Pandas grouping and aggregation time:", time.time() - start_time)

# Grouping with Dask
start_time = time.time()
grouped_dask = df_dask.groupby('tier')['attend'].mean().compute()  # Must call compute
print("Dask grouping and aggregation time:", time.time() - start_time)

Pandas grouping and aggregation time: 0.0010006427764892578
Dask grouping and aggregation time: 0.023779630661010742

In [24]:
x = df.attend_level.sum()
x

dd.Scalar<series-..., dtype=float64>

In [25]:
x.compute()

np.float64(7.975481780419998)

In [44]:
file_path = "Oil and Gas .csv"
# file_path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
# df = pd.read_csv(url,sep ='\t')
# Load the dataset with Pandas
start_time = time.time()
df_pandas = pd.read_csv(file_path)
print("Pandas load time:", time.time() - start_time)

# Load the dataset with Dask
start_time = time.time()
df_dask = dd.read_csv(file_path, assume_missing=True)
print("Dask load time:", time.time() - start_time)

Pandas load time: 0.10613608360290527
Dask load time: 0.018541574478149414

In [45]:
df_dask.head()

,cty_name,iso3numeric,id,year,eiacty,oil_prod32_14,oil_price_2000,oil_price_nom,oil_value_nom,oil_value_2000,...,net_gas_exports_mboe,net_gas_exports_value,net_gas_exports_valuePOP,net_oil_gas_exports_valuePOP,population,pop_maddison,sovereign,mult_nom_2000,mult_nom_2014,mult_2000_2014
0,Afghanistan,4.0,AFG,1932.0,Afghanistan,NaN,10.860860,0.87,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.599874,17.321973,1.374774
1,Afghanistan,4.0,AFG,1933.0,Afghanistan,NaN,8.815239,0.67,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13.280064,18.257080,1.374774
2,Afghanistan,4.0,AFG,1934.0,Afghanistan,NaN,12.715790,1.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.853008,17.669975,1.374774
3,Afghanistan,4.0,AFG,1935.0,Afghanistan,NaN,12.039690,0.97,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.537882,17.236748,1.374774
4,Afghanistan,4.0,AFG,1936.0,Afghanistan,NaN,13.383210,1.09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.420786,17.075768,1.374774

In [49]:

# Load dataset with Dask
dask_df = dd.read_csv('Oil and Gas .csv')

# Load dataset with Pandas for comparison
pandas_df = pd.read_csv('Oil and Gas .csv')
# Group by 'id' and calculate mean 'oil_price_2000'
start_time = time.time()
dask_grouped = dask_df.groupby('id')['oil_price_2000'].mean().compute()  # 'compute()' triggers the execution
print("\nDask grouped DataFrame (mean oil_price_2000 by id)")
print(dask_grouped)
print(f"Dask grouping time: {time.time() - start_time} seconds")

start_time = time.time()
pandas_grouped = pandas_df.groupby('id')['oil_price_2000'].mean()
print("\nPandas grouped DataFrame (mean oil_price_2000 by id)")
print(pandas_grouped)
print(f"Pandas grouping time: {time.time() - start_time} seconds")

Dask grouped DataFrame (mean oil_price_2000 by id)
id
AFG    26.496529
AGO    26.496529
ALB    26.496529
ARE    26.496529
ARG    26.496529
         ...
YUG    26.496529
ZAF    26.496529
ZAR    26.496529
ZMB    26.496529
ZWE    26.496529
Name: oil_price_2000, Length: 181, dtype: float64
Dask grouping time: 0.08935427665710449 seconds

Pandas grouped DataFrame (mean oil_price_2000 by id)
id
AFG    26.496529
AGO    26.496529
ALB    26.496529
ARE    26.496529
ARG    26.496529
         ...
YUG    26.496529
ZAF    26.496529
ZAR    26.496529
ZMB    26.496529
ZWE    26.496529
Name: oil_price_2000, Length: 181, dtype: float64
Pandas grouping time: 0.0026519298553466797 seconds

In [50]:
dask_df.groupby('id')['oil_price_2000'].mean()

Dask Series Structure:
npartitions=1
    float64
        ...
Name: oil_price_2000, dtype: float64
Dask Name: truediv, 7 graph layers

In [53]:
ddf = dd.read_csv('Oil and Gas .csv')
ddf

Dask DataFrame Structure:
              cty_name iso3numeric      id   year  eiacty oil_prod32_14 oil_price_2000 oil_price_nom oil_value_nom oil_value_2000 oil_value_2014 gas_prod55_14 gas_price_2000_mboe gas_price_2000 gas_price_nom gas_value_nom gas_value_2000 gas_value_2014 oil_gas_value_nom oil_gas_value_2000 oil_gas_value_2014 oil_gas_valuePOP_nom oil_gas_valuePOP_2000 oil_gas_valuePOP_2014 oil_exports net_oil_exports net_oil_exports_mt net_oil_exports_value net_oil_exports_valuePOP gas_exports net_gas_exports_bcf net_gas_exports_mboe net_gas_exports_value net_gas_exports_valuePOP net_oil_gas_exports_valuePOP population pop_maddison sovereign mult_nom_2000 mult_nom_2014 mult_2000_2014
npartitions=1
                object       int64  object  int64  object       float64        float64       float64       float64        float64        float64       float64               int64        float64       float64       float64        float64        float64           float64            float64            float64              float64               float64               float64     float64         float64            float64               float64                  float64     float64             float64              float64               float64                  float64                      float64    float64      float64     int64       float64       float64        float64
                   ...         ...     ...    ...     ...           ...            ...           ...           ...            ...            ...           ...                 ...            ...           ...           ...            ...            ...               ...                ...                ...                  ...                   ...                   ...         ...             ...                ...                   ...                      ...         ...                 ...                  ...                   ...                      ...                          ...        ...          ...       ...           ...           ...            ...
Dask Name: read-csv, 1 graph layer

In [55]:
ddf.dtypes

cty_name                         object
iso3numeric                       int64
id                               object
year                              int64
eiacty                           object
oil_prod32_14                   float64
oil_price_2000                  float64
oil_price_nom                   float64
oil_value_nom                   float64
oil_value_2000                  float64
oil_value_2014                  float64
gas_prod55_14                   float64
gas_price_2000_mboe               int64
gas_price_2000                  float64
gas_price_nom                   float64
gas_value_nom                   float64
gas_value_2000                  float64
gas_value_2014                  float64
oil_gas_value_nom               float64
oil_gas_value_2000              float64
oil_gas_value_2014              float64
oil_gas_valuePOP_nom            float64
oil_gas_valuePOP_2000           float64
oil_gas_valuePOP_2014           float64
oil_exports                     float64
net_oil_exports                 float64
net_oil_exports_mt              float64
net_oil_exports_value           float64
net_oil_exports_valuePOP        float64
gas_exports                     float64
net_gas_exports_bcf             float64
net_gas_exports_mboe            float64
net_gas_exports_value           float64
net_gas_exports_valuePOP        float64
net_oil_gas_exports_valuePOP    float64
population                      float64
pop_maddison                    float64
sovereign                         int64
mult_nom_2000                   float64
mult_nom_2014                   float64
mult_2000_2014                  float64
dtype: object